<div class="container py-5 text-white">
  <h2 class="text-center mb-5">{{'experience.title' | translate}}</h2>

  <div class="timeline">
    <!-- Card: Solution Factory Intern -->
    <div class="timeline-item" data-aos="fade-up">
      <div class="card shadow-sm border-0">
        <div class="card-body text-white">
          <h5 class="card-title">Intern – Solution Factory</h5>
          <h6 class="card-subtitle mb-2 ">{{'experience.jul' | translate}} 2023 – {{'experience.aug' | translate}} 2023</h6>
          <p class="card-text">
            {{'experience.solutionIn' | translate}}
          </p>
          <a href="https://solutionfactory.com.tr/" class="card-link" target="_blank">Company Website</a>
        </div>
      </div>
    </div>

    <!-- Card: Junior Developer -->
    <div class="timeline-item" data-aos="fade-up">
      <div class="card shadow-sm border-0">
        <div class="card-body text-white">
          <h5 class="card-title">Junior Developer – Solution Factory</h5>
          <h6 class="card-subtitle mb-2 ">{{'experience.aug' | translate}} 2023 – {{'experience.jul' | translate}} 2024</h6>
          <p class="card-text">
            {{'experience.solutionFactory' | translate}}
          </p>
          <a href="https://solutionfactory.com.tr/" class="card-link" target="_blank">Company Website</a>
        </div>
      </div>
    </div>

    <!-- Card: Intern – Ercal Group -->
    <div class="timeline-item" data-aos="fade-up">
      <div class="card shadow-sm border-0">
        <div class="card-body text-white">
          <h5 class="card-title">Intern – Ercal Group</h5>
          <h6 class="card-subtitle mb-2 ">{{'experience.jul' | translate}} 2025 – {{'experience.aug' | translate}} 2025</h6>
          <p class="card-text">
            {{'experience.ercalGroup' | translate}}
          </p>
          <a href="https://www.ercal.com.tr/" class="card-link" target="_blank">Company Website</a>
        </div>
      </div>
    </div>
  </div>
</div>
