<ngx-particles class="particles-background" [id]="id" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)"></ngx-particles>
<section class="home-section d-flex align-items-center min-vh-100">
  <div class="container text-center">
    <h1 class="display-4 fw-bold animate__animated animate__fadeInDown text-white">
      Hi, I'm <span class="text-primary">Salih Eliaçık</span> 👋
    </h1>

    <h2 class="lead mt-3">
      <ngx-typed-js
        [strings]="typedStrings"
        [typeSpeed]="50"
        [backSpeed]="30"
        [loop]="true"
      >
        <span class="typed-text"></span>
      </ngx-typed-js>
    </h2>

    <p class="mt-4 animate__animated animate__fadeIn animate__delay-2s text-white">
      I specialize in <strong>Angular</strong> and have solid experience with
      <strong>Spring Boot</strong> for building robust backend services.<br />
      I’ve also worked with <strong>Docker, PostgreSQL, Python</strong>, and
      apply core <strong>Computer Science</strong> principles to every project.
    </p>

    <div class="mt-4 animate__animated animate__fadeIn animate__delay-3s">
      <a
        href="https://github.com/Salih52"
        target="_blank"
        class="btn btn-dark me-2"
        >GitHub</a
      >
      <a
        href="https://linkedin.com/in/salih-eliaçik-7b901221a"
        target="_blank"
        class="btn btn-outline-primary"
        >LinkedIn</a
      >
    </div>
  </div>
</section>
